{%extends 'layout.html'%}
{%block content%}
<img src="../static/img/logotipo.png" width="110px">
<div class="row">
    <div class="col-6">
        <img src="../static/img/imagenMujer.png" style="width: 810px; padding-left: 100px;"> 
    </div>
    <div class="col-6 text-center" style="padding-right: 150px;">
        <h1 style="font-size:100px; font-family:'Times New Roman', Times, serif; color: #C88054; padding-top: 30px;"><b>GELATOS</b></h1>
        <h4 style=" font-family:'Times New Roman', Times, serif; "><b>"Refresca tu día con la dulzura de nuestros helados"</b></h4><br><br>
        <a href="login" type="button" class="btn  botonInicio" style=" font-family:'Times New Roman', Times, serif;"><b>Inicio de Sesión</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="registro" type="button" class="btn  botonInicio" style=" font-family:'Times New Roman', Times, serif;"><b>Registrate</b></a>
    </div>
</div>
{%endblock%}