{%extends 'main.html'%}
{%block content%}
<div class="page-content p-5" id="content">
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">M&oacute;dulos</small></button>
    <div class="p-5 mb-4 bg-light shadow-lg" style="border-radius: 1rem;">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="fw-bold display-5 text-center"><b>GELATOS S.A. de C.V.</b></h1><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <h4 class="my-4 fw-bold ">Misi&oacute;n:</h4>
                    <p class="fs-6 lead" style="text-align: justify;">
                        Nuestra misión es ofrecer helados de alta calidad que deleiten los paladares de
                        nuestros clientes y les brinden momentos de felicidad y satisfacción. Nos
                        esforzamos por utilizar los mejores ingredientes naturales y procesos de
                        producción éticos y sostenibles para ofrecer una experiencia gastronómica única y
                        deliciosa.
                    </p>
                    <h4 class="my-4 fw-bold ">Visi&oacute;n:</h4>
                    <p class="fs-6 lead" style="text-align: justify;">
                        Nos vemos como una empresa líder en la fabricación y venta de helados a nivel
                        nacional, reconocida por nuestra excelencia en la calidad y el sabor de nuestros
                        productos. Buscamos innovar continuamente y mantenernos a la vanguardia en el
                        mercado, ofreciendo una amplia variedad de sabores y presentaciones que
                        satisfagan los gustos y necesidades de nuestros clientes.
                    </p>
                </div>
                <div class="my-5 col-lg-4">
                    <img  src="../static/img/logotipo.png" alt="Generic placeholder image" width="100%">
                </div>
            </div>
        </div>
    </div> 
</div>
{%endblock%}
