{%extends 'main.html'%}
{%block content%}
<div class="page-content p-5" id="content">
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">M&oacute;dulos</small></button>
    <button type="button" class="btn rounded-pill shadow-sm px-4 mb-4 float-end" style="background-color:#CA9F8B" data-bs-toggle="modal" data-bs-target="#detalleEmpleado" onclick="limpiar();"><strong>Agregar</strong></button>
    <!-- CATÁLOGO DE EMPLEADO-->
    <div id="divCatalogoEmpleado" class="col-12">
        <div class="card">
            <div class="card-header text-center bg-light">
                <span class="h5 text-black"  style=" font-size: 25px;"><b>Cat&aacute;logo de Materia Prima</b> </span>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <span class="h6">Buscar:  <i class="fas fa-search"></i> <input id="buscarEmpleado" type="text" onkeyup="buscarTabla()" /></span>
                </div>
                <br>
                <table class="table table-hover" id="datos">
                    <thead>
                        <tr>
                            <th style="border: 1px solid black; text-align: center;">Nombre</th>
                            <th style="border: 1px solid black;  text-align: center;">Unidad de Medida</th> 
                            <th class="col-2" style="border: 1px solid black; ">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyEmpleados" style="background: #e2e2e0;">
                    </tbody>
                    <tr class='noSearch hide'>
                        <td colspan="10000"></td>
                </table>
                <br>
            </div>
        </div>
    </div>
    <!-- FORMULARIO DE EMPLEADO-->
    <div class="container">
        <br>
        <div class="modal fade" id="detalleEmpleado" tabindex="-1" aria-labelledby="detalleEmpleado" aria-hidden="true" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background: #3D7692; text-align: center">
                        <span class="h5 text-black " style="font-variant: small-caps; font-size: 20px; "><b>Detalle Materia Prima</b></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form">
                            <div > 
                                <input id="txtMateriaPrima" type="hidden"> 
                            </div>
                            <div style="color:#CA9F8B" class="mt-4">
                                <i class="fas fa-grin-alt"></i>
                                <label>Datos Materia</label>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="txtNombre" class="form-label">Nombre<span class="text-danger">*</span></label>
                                    <input id="txtNombre" type="text" class="form-control" />
                                </div>
                                <div class="col-6">
                                    <label for="txtCantidad" class="form-label">Unidad de medida<span class="text-danger">*</span></label>
                                    <!-- <input id="txtCantidad" type="select" class="form-control" style="background: #F4F6F6;" /> -->
                                    <select class="form-control">
                                        <option>Unidad de Medida</option>
                                        <option value="1">Kg</option>
                                    </select>
                                </div>
                            </div>
                                <div class="col-4"></div>
                                <div class="pt-3 pb-3 text-center">
                                    <button class="btn btn-outline-info" >
                                        <i class="fas fa-plus-square"></i>&nbsp;&nbsp;Nuevo</button>
                                    <button class="btn btn-outline-success mx-2">
                                        <i class="fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{%endblock%}