{%extends 'main.html'%}
{%block content%}
{%from "_macros.html" import render_firld%}
<div class="page-content p-5" id="content">
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">M&oacute;dulos</small></button>
    <button type="button" class="btn rounded-pill shadow-sm px-4 mb-4 float-end" style="background-color:#CA9F8B" data-bs-toggle="modal" data-bs-target="#detallemateriaPrima" onclick="limpiar();"><strong>Agregar</strong></button>
    <!-- CATÁLOGO DE materiaPrima-->
    <div id="divCatalogomateriaPrima" class="col-12">
        <div class="card">
            <div class="card-header text-center bg-light">
                <span class="h5 text-black"  style=" font-size: 25px;"><b>Cat&aacute;logo de Materia Prima</b> </span>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <span class="h6">Buscar:  <i class="fas fa-search"></i> <input id="buscar" type="text" onkeyup="buscarTabla()" /></span>
                </div>
                <br>
                <table class="table table-hover" id="datos">
                    <thead  style="background: #e2e2e0;">
                        <tr>
                            <th style=" text-align: center;">Nombre</th>
                            <th style="  text-align: center;">Unidad de Medida</th> 
                            <th class="col-2" style="text-align: center;">Acciones</th>

                        </tr>
                    </thead>
                    <tbody >
                        {% for materiaPrima in materiaPrima %}
                        <tr>
                            <td>{{materiaPrima[1]}}</td>
                            <td>{{materiaPrima[3]}}</td>
                            <td style="text-align: center;" ><a href="materiaPrimaModificar?id={{materiaPrima[0]}}"
                                class="btn btn-outline-warning " ><i class="fas fa-pencil-alt"></i>
                             </a>
                             <a href="materiaPEliminar?id={{materiaPrima[0]}}"
                             class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i>
                          </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tr class='noSearch hide'>
                        <td colspan="10000"></td>
                </table>
                <br>
            </div>
        </div>
    </div>
    <!-- FORMULARIO DE materiaPrima-->
    <div class="container">
        <br>
        <div class="modal fade" id="detallemateriaPrima" tabindex="-1" aria-labelledby="detallemateriaPrima" aria-hidden="true" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background: #3D7692; text-align: center">
                        <span class="h5 text-black " style="font-variant: small-caps; font-size: 20px; "><b>Detalle Materia Prima</b></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="sent" action="/insertar_materiaPrima" id="form1" method="POST">
                            <div hidden> 
                                {{render_firld(form.id_unidadMedida,class='form-control')}}
                            </div>
                            <div style="color:#CA9F8B" class="mt-4">
                                <i class="fas fa-grin-alt"></i>
                                <label>Datos Materia</label>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <!-- <label for="txtNombre" class="form-label">Nombre<span class="text-danger">*</span></label>
                                    <input id="txtNombre" type="text" class="form-control" /> -->
                                    {{render_firld(form.nombre,class='form-control')}}
                                </div>
                                <div class="col-6">
                                    <!-- <label for="txtCantidad" class="form-label">Unidad de medida<span class="text-danger">*</span></label> -->
                                    <!-- <input id="txtCantidad" type="select" class="form-control" style="background: #F4F6F6;" /> -->
                                    <!-- <select class="form-control">
                                        <option>Unidad de Medida</option>
                                        <option value="1">Kg</option>
                                    </select> -->
                                    {{render_firld(form.unidadMedidaGuardar,class='form-control')}}
                                </div>
                            </div>
                                <div class="col-4"></div>
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                                <div class="pt-3 pb-3 text-center">
                                    <button class="btn btn-outline-success mx-2">
                                        <i class="fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{%endblock%}